<app-header></app-header>
<router-outlet></router-outlet>
<br />
<div class="country-info">
  <h1>{{ country }}</h1>
  <h3>[WIP]</h3>
  <div *ngIf="error">Something went wrong.</div>
  <div *ngIf="covidInfoLoading">Loading ...</div>
  <div *ngIf="covidInfo && !covidInfoLoading">
    <p><b>Cases: </b>{{ covidInfo.cases.toLocaleString() }}</p>
    <p><b>Deaths: </b>{{ covidInfo.deaths.toLocaleString() }}</p>
    <p><b>Population: </b>{{ covidInfo.population.toLocaleString() }}</p>
  </div>
</div>
